DB_HOST=db
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=photoprint
SERVER_PORT=8080
ENV=development
QINIU_ACCESS_KEY=gtWDWfb8YvTS0v03ukKUYnetbcUgorUNgrgbqkYV
QINIU_SECRET_KEY=dmaJHu9TqaYvYtd3-Qdijt7y7Qqa_z3T8LqkQqz-
QINIU_BUCKET=photo-print
QINIU_DOMAIN=http://your-test-domain.com
QINIU_ZONE=z0
UPLOAD_PREFIX_DEV=upload-dev/
UPLOAD_PREFIX_PROD=upload/